<div class="col-lg-6">
    <form role="form">
        <div class="form-group">
            <label>类别名称</label>
            <%= f.text_field :name, :class => "form-control" ,:placeholder =>  "Enter title"%>
        </div>

        <button type="submit" class="btn btn-default">Submit Button</button>
        <button type="reset" class="btn btn-default">Reset Button</button>
    </form>
</div>