<div class="main margin45">
	<div class="width682">
    <div class="con-644">
            <div class="relation-info">
            </div>
            <h1><%=@column.title %></h1>
            <div class="con-word">
            	<p><%=@column.content %></p>
            </div>
        </div>
    </div>
    <%=render"/layouts/right"%>
</div> 